<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="PetDbConnectionString" connectionString="Data Source=CREATIVEKEEDA;Initial Catalog=PetDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PetDbConnectionString2" connectionString="Data Source=CREATIVEKEEDA;Initial Catalog=PetDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PetDbConnectionString3" connectionString="Data Source=CREATIVEKEEDA;Initial Catalog=PetDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PetDbConnectionString4" connectionString="Data Source=CREATIVEKEEDA;Initial Catalog=PetDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PetDbConnectionString5" connectionString="Data Source=CREATIVEKEEDA;Initial Catalog=PetDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PetDbConnectionString6" connectionString="Data Source=ABHISHEKS-PC\\SQLEXPRESS01;Initial Catalog=PetDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PetDbConnectionString7" connectionString="Data Source=ABHISHEKS-PC\SQLEXPRESS01;Initial Catalog=PetDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
